@import url("foundation.css");
@import url("navigations.css");
@import url("jquery.gridder.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i");
/*CARD BUTTONS*/
body {
  background: #202e34;
  text-align: center; }

h1, h2, h3, h4, h5, p, ul, li {
  font-family: "Open Sans", sans-serif; }

h1 {
  font-size: 20px;
  color: #ffffff;
  font-weight: 700; }
  h1 span {
    color: #ed5b54; }
  @media screen and (max-width: 39.9375em) {
    h1 {
      font-size: 17px; } }

h2 {
  font-weight: 800;
  font-size: 55px;
  line-height: 55px; }
  @media screen and (max-width: 39.9375em) {
    h2 {
      font-size: 25px;
      line-height: 25px;
      margin: 15px 0; } }

h4 {
  font-size: 5vmin;
  line-height: 5vmin;
  font-weight: 700;
  color: #202e34; }

hr {
  border-bottom: 5px solid #31c2c0; }

.no-pad {
  padding: 0; }

.clear {
  clear: both; }

.title {
  padding: 10px 0;
  text-align: center; }
  .title h1 {
    font-size: 35px;
    margin: 0;
    font-weight: 800;
    color: #ffffff; }
    @media screen and (max-width: 39.9375em) {
      .title h1 {
        font-size: 25px; } }

.intro p {
  font-size: 20px;
  color: #ffffff;
  font-weight: 700; }
  .intro p span {
    color: #ed5b54; }
  @media screen and (max-width: 39.9375em) {
    .intro p {
      font-size: 15px; } }

.header {
  background-image: url(https://www.checkers.co.za/content/dam/checkerssouthafrica/websites/checkerssouthafrica/Campaigns/2017/healthy-kids-snacks/kids-meals/img/bg.jpg);
  background-repeat: repeat-x;
  background-color: #202e34;
  background-position: top center;
  padding-top: 335px; }
  @media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .header {
      padding-top: 304px; } }
  @media screen and (max-width: 39.9375em) {
    .header .columns {
      padding: 0; } }
  @media screen and (max-width: 39.9375em) {
    .header {
      background-size: 195%;
      padding-top: 40%;
      padding-bottom: 3%; } }
  @media screen and (min-width: 40em) {
    .header {
      padding-top: 19%;
      background-size: cover; } }
  .header img {
    margin-bottom: 5%;
    margin-top: 2%; }
    @media screen and (max-width: 39.9375em) {
      .header img {
        width: 26%;
        margin-top: 0; } }
    @media screen and (min-width: 40em) {
      .header img {
        width: 15%; } }

.products .gridder {
  position: relative; }
  .products .gridder .gridder-list-not {
    width: 33.333333%;
    text-align: center;
    position: relative;
    display: inline-block;
    vertical-align: top; }
    @media screen and (max-width: 39.9375em) {
      .products .gridder .gridder-list-not {
        width: 100%; } }
    .products .gridder .gridder-list-not button {
      position: absolute;
      bottom: 0;
      left: 0;
      color: #ffffff;
      font-size: 21px;
      font-weight: 700;
      width: 100%;
      padding: 7% 0 4.2% 0;
      transition: all 0.4s ease 0s; }
      @media screen and (max-width: 39.9375em) {
        .products .gridder .gridder-list-not button {
          font-size: 18px; } }
      @media screen and (min-width: 40em) and (max-width: 63.9375em) {
        .products .gridder .gridder-list-not button {
          font-size: 15px; } }
      .products .gridder .gridder-list-not button svg {
        margin-top: 1%;
        width: 20px;
        height: 20px;
        fill: #ffffff; }
    .products .gridder .gridder-list-not .card-6 {
      background: #826cc8; }
      .products .gridder .gridder-list-not .card-6:hover, .products .gridder .gridder-list-not .card-6:focus {
        background: #ffffff;
        color: #826cc8; }
        .products .gridder .gridder-list-not .card-6:hover svg, .products .gridder .gridder-list-not .card-6:focus svg {
          fill: #826cc8; }
  .products .gridder .gridder-list {
    width: 33.333333%;
    text-align: center;
    position: relative;
    display: inline-block;
    vertical-align: top; }
    @media screen and (max-width: 39.9375em) {
      .products .gridder .gridder-list {
        width: 100%; } }
    .products .gridder .gridder-list button {
      position: absolute;
      bottom: 0;
      left: 0;
      color: #ffffff;
      font-size: 21px;
      font-weight: 700;
      width: 100%;
      padding: 7% 0 4.2% 0;
      transition: all 0.4s ease 0s; }
      @media screen and (max-width: 39.9375em) {
        .products .gridder .gridder-list button {
          font-size: 18px; } }
      @media screen and (min-width: 40em) and (max-width: 63.9375em) {
        .products .gridder .gridder-list button {
          font-size: 15px; } }
      .products .gridder .gridder-list button svg {
        margin-top: 1%;
        width: 20px;
        height: 20px;
        fill: #ffffff; }
    .products .gridder .gridder-list .card-1 {
      background: #c866c5; }
      .products .gridder .gridder-list .card-1:hover, .products .gridder .gridder-list .card-1:focus {
        background: #ffffff;
        color: #c866c5; }
        .products .gridder .gridder-list .card-1:hover svg, .products .gridder .gridder-list .card-1:focus svg {
          fill: #c866c5; }
    .products .gridder .gridder-list .card-2 {
      background: #ffe01d; }
      .products .gridder .gridder-list .card-2:hover, .products .gridder .gridder-list .card-2:focus {
        background: #ffffff;
        color: #ffe01d; }
        .products .gridder .gridder-list .card-2:hover svg, .products .gridder .gridder-list .card-2:focus svg {
          fill: #ffe01d; }
    .products .gridder .gridder-list .card-3 {
      background: #ff2f3c; }
      .products .gridder .gridder-list .card-3:hover, .products .gridder .gridder-list .card-3:focus {
        background: #ffffff;
        color: #ff2f3c; }
        .products .gridder .gridder-list .card-3:hover svg, .products .gridder .gridder-list .card-3:focus svg {
          fill: #ff2f3c; }
    .products .gridder .gridder-list .card-4 {
      background: #1272a8; }
      .products .gridder .gridder-list .card-4:hover, .products .gridder .gridder-list .card-4:focus {
        background: #ffffff;
        color: #1272a8; }
        .products .gridder .gridder-list .card-4:hover svg, .products .gridder .gridder-list .card-4:focus svg {
          fill: #1272a8; }
    .products .gridder .gridder-list .card-5 {
      background: #31c2c0; }
      .products .gridder .gridder-list .card-5:hover, .products .gridder .gridder-list .card-5:focus {
        background: #ffffff;
        color: #31c2c0; }
        .products .gridder .gridder-list .card-5:hover svg, .products .gridder .gridder-list .card-5:focus svg {
          fill: #31c2c0; }
    .products .gridder .gridder-list .card-7 {
      background: #ff2f3c; }
      .products .gridder .gridder-list .card-7:hover, .products .gridder .gridder-list .card-7:focus {
        background: #ffffff;
        color: #ff2f3c; }
        .products .gridder .gridder-list .card-7:hover svg, .products .gridder .gridder-list .card-7:focus svg {
          fill: #ff2f3c; }
    .products .gridder .gridder-list:nth-child(n) {
      margin: 0; }
  .products .gridder .gridder-close {
    position: absolute;
    top: 0%;
    right: 1%;
    font-size: 35px;
    color: #202e34; }
    @media screen and (max-width: 39.9375em) {
      .products .gridder .gridder-close {
        font-size: 25px; } }

.ad-title {
  background: #202e34;
  color: #ed5b54;
  padding: 2% 0; }

.video {
  background-image: url(../img/video-bg.jpg);
  background-size: cover;
  text-align: center; }
  .video .responsive-embed {
    padding: 5% 10%; }

.goodness {
  text-align: center;
  padding: 2% 0 0 0; }
  .goodness h2 {
    color: #ed5b54; }
    .goodness h2 span {
      color: #31c2c0; }

.more-goodness .swoosh {
  background: url(https://www.checkers.co.za/content/dam/checkerssouthafrica/websites/checkerssouthafrica/Campaigns/2017/healthy-kids-snacks/kids-meals/img/more-goodness.jpg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 5% 0; }
  @media screen and (max-width: 39.9375em) {
    .more-goodness .swoosh {
      background-size: 130%; } }
  .more-goodness .swoosh h2 {
    font-size: 55px;
    color: #202e34; }
    @media screen and (max-width: 39.9375em) {
      .more-goodness .swoosh h2 {
        font-size: 23px; } }
.more-goodness .behind-the-scenes {
  text-align: left;
  margin-bottom: 5%; }
  .more-goodness .behind-the-scenes h3 {
    color: #31c2c0;
    font-weight: 800; }
  .more-goodness .behind-the-scenes p {
    color: #ffffff;
    font-weight: 600;
    margin-top: 15px; }
  .more-goodness .behind-the-scenes button {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    color: #202e34;
    background-color: #31c2c0;
    padding: 15px 25px;
    border-radius: 5px; }
    @media screen and (max-width: 39.9375em) {
      .more-goodness .behind-the-scenes button {
        font-size: 12px; } }

.sign-up {
  background: #31c2c0;
  padding: 2%; }
  .sign-up button {
    margin-top: 1%;
    background: #202e34;
    color: #31c2c0;
    font-size: 15px;
    padding: 1% 3%;
    border-radius: 5px;
    transition: all 0.4s ease 0s; }
    @media screen and (max-width: 39.9375em) {
      .sign-up button {
        padding: 3% 5%; } }
    .sign-up button:hover {
      opacity: 0.8; }

/*# sourceMappingURL=app.css.map */
